* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#fonts {
  font-family: "Inter", sans-serif;
}

/* Common & shared classes */
.btn {
  padding: 12.5px 16px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  font-weight: 600;
  border-radius: 25px;
  text-align: center;
  border: none;
}
.display {
  margin: auto;
  max-width: 1200px;
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: #1a0b2e;
}
nav {
  padding: 24px 0;
}
.title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}
.primary-text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.sub-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}
/* Specific classes */

.liner-gradiant {
  background: linear-gradient(#f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu li {
  list-style: none;
  padding: 12.5px 16px;
}
.menu a {
  text-decoration: none;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.diff-btn {
  padding: 11.5px 16px;
  border-radius: 25px;
  border: 1px solid #00ff88;
  background: transparent;
}
.button-container {
  justify-content: center;
  gap: 8px;
}
.banner {
  background: url(assets/hero-bg.png);
  background-position: center;
}
.banner-container {
  padding: 101px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.micro {
  background-image: url("assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  text-align: center;
  justify-content: center;
  position: relative;
}
.banner-content {
  flex-direction: column;
  gap: 8px;
}
.banner-title {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800;
}
.badge {
  position: absolute;
  color: #1a0b2e;
  font-size: 1.125rem;
  background: #00ff88;
  border-radius: 25px;
  border: none;
  padding: 8px 16px;
  top: 12px;
  right: 23px;
}
.about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-bottom: 120px;
}
.about-container {
  padding: 50px 0 120px;
}
.last-para {
  margin-top: 16px;
}
hr {
  border: 1px solid #ffffff;
}
.stats-details {
  flex-direction: column;
  gap: 16px;
}
.stats-num {
  color: #00ff88;
  font-weight: 900;
  font-style: black;
}
.stats {
  margin-top: 120px;
  gap: 80px;
}
.choose {
  background: #230e3d;
  padding: 120px 0;
}
.choose-title {
  text-align: center;
  margin-bottom: 40px;
}
.card {
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: rgba(53, 17, 101, 0.4);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 265px);
  gap: 30px;
}
.card1 {
  grid-column: span 1;
  grid-row: span 2;
  padding: 105px 40px;
}
.card2 {
  grid-column: span 2;
  grid-row: span 1;
}
.card3 {
  grid-column: span 2;
  grid-row: span 1;
}
.card4 {
  grid-column: span 2;
  grid-row: span 1;
}
.card5 {
  grid-column: span 1;
  grid-row: span 1;
  overflow: hidden;
}
.features-episodes {
  background-color: #1a0b2e;
  padding: 120px 0;
}
.feature-card-section {
  gap: 30px;
}
.feature-title {
  text-align: center;
  margin-bottom: 40px;
}
.feature-card {
  background: #250d44;
  border-radius: 25px;
  border: none;
  max-width: 380px;
  max-height: 440px;
}
.card-desc {
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  align-items: start;
}
.time {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.duration {
  color: #00ff88;
}
iframe {
  border-radius: 25px 25px 0 0;
  border: none;
  width: 100%;
  height: 210px;
}
.host-container {
  background: #1a0b2e;
  padding-bottom: 120px;
}
.host-title {
  text-align: center;
  margin-bottom: 40px;
}
.host-details {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  gap: 24px;
}
.host-name {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}
.about-host {
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: start;
}
.host-social {
  justify-content: flex-start;
  gap: 8px;
}
.circle-bg {
  border: 1px solid #533c72;
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.host-social img {
  width: 50%;
}
footer {
  background: url("assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-container {
  flex-direction: column;
  gap: 32px;
  padding: 120px 0;
}
.footer-social {
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.social-media {
  gap: 8px;
}
/* Hover effect/Animation */

.menu li:hover {
  background: linear-gradient(135deg, #f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  border-radius: 25px 15px 25px 15px;
}
.btn:hover {
  background-size: 200% 200%;
  animation: move 5s ease infinite;
  transform: scale(1.01);
}
@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.diff-btn:hover {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  border: 1px solid transparent;
  box-sizing: border-box;
  background-size: 200% 200%;
  animation: move 5s ease infinite;
  transform: scale(1.01);
}
.diff-btn:hover img {
  filter: brightness(0) invert(1);
}
.feature-container:hover .feature-card {
  opacity: 0.5;
}
.feature-container .feature-card:hover {
  opacity: 1;
  transform: scale(1.05);
}
.feature-card {
  transition: transform 0.3s ease;
}
.host-details img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.circle-bg:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
