* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#fonts {
  font-family: "Inter", sans-serif;
}
/* Common & shared classes */
.btn {
  padding: 12.5px 16px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  font-weight: 600;
  border-radius: 25px;
  text-align: center;
}
.display {
  margin: auto;
  max-width: 1200px;
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: #1a0b2e;
}
nav {
  padding: 24px 0;
}
.sub-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}
.primary-text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
/* Specific classes */

.liner-gradiant {
  background: linear-gradient(#f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu {
  gap: 32px;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.diff-btn {
  padding: 12.5px 16px;
  border-radius: 25px;
  border: 1px solid #00ff88;
  background: transparent;
}
.button-container {
  justify-content: center;
  gap: 8px;
}
.banner {
  background: url(assets/hero-bg.png);
  background-position: center;
}
.banner-container {
  padding: 101px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.micro {
  background-image: url("assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  text-align: center;
  justify-content: center;
  position: relative;
}
.banner-content {
  flex-direction: column;
  gap: 8px;
}
.banner-title {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800;
}
.badge {
  position: absolute;
  color: #1a0b2e;
  font-size: 1.125rem;
  background: #00ff88;
  border-radius: 25px;
  border: none;
  padding: 8px 16px;
  top: 12px;
  right: 23px;
}
