* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#fonts {
  font-family: "Inter", sans-serif;
}
/* Common & shared classes */
.btn {
  padding: 12.5px 16px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  font-weight: 600;
  border-radius: 25px;
}
.display {
  margin: auto;
  max-width: 1200px;
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: #1a0b2e;
}
nav {
  padding: 24px 0;
}
.sub-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}
.primary-text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
/* Specific classes */

.liner-gradiant {
  background: linear-gradient(#f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu {
  gap: 32px;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
}
