* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#fonts {
  font-family: "Inter", sans-serif;
}

/* Common & shared classes */
.btn {
  padding: 12.5px 16px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  font-weight: 600;
  border-radius: 25px;
  text-align: center;
  border: none;
}
.display {
  margin: auto;
  max-width: 1200px;
  width: 90%;
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: #1a0b2e;
}
nav {
  padding: 24px 0;
  border-bottom: 1px solid #ffffff45;
}
.title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}
.primary-text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.sub-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}
/* Specific classes */

.liner-gradiant {
  background: linear-gradient(#f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hum {
  display: none;
}
.menu li {
  list-style: none;
  padding: 12.5px 16px;
}
.menu a {
  text-decoration: none;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.diff-btn {
  padding: 11.5px 16px;
  border-radius: 25px;
  border: 1px solid #00ff88;
  background: transparent;
}
.button-container {
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.banner {

  width: 100%;
  background: url(assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-container {
  padding: 101px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.micro {
  background-image: url("assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 100%;
  width: 350px;
  height: 350px;
  text-align: center;
  justify-content: center;
  position: relative;
}
.micro-img {
  max-width: 33%;
  height: auto;
}
.banner-content {
  flex-direction: column;
  gap: 8px;
}
.banner-title {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800;
}
.badge {
  position: absolute;
  color: #1a0b2e;
  font-size: 1.125rem;
  background: #00ff88;
  border-radius: 25px;
  border: none;
  padding: 8px 16px;
  top: 12px;
  right: 23px;
}
.about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-bottom: 120px;
}
.about-container {
  padding: 50px 0 120px;
}
.last-para {
  margin-top: 16px;
}
hr {
  border: 1px solid #ffffff45;
}
.stats-details {
  flex-direction: column;
  gap: 16px;
}
.stats-num {
  color: #00ff88;
  font-weight: 900;
  font-style: black;
}
.stats {
  margin-top: 120px;
  gap: 80px;
  flex-wrap: wrap;
  padding-bottom: 120px;
}
.choose {
  background: #230e3d;
  padding: 120px 0;
}
.choose-title {
  text-align: center;
  margin-bottom: 40px;
}
.card {
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: rgba(53, 17, 101, 0.4);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 265px);
  gap: 30px;
}
.bigcard{
  grid-column: span 1;
  grid-row: span 2;
}
.widecard{
  grid-column: span 2;
  grid-row:span 1;
}
.smallcard{
  grid-column: span 1;
  grid-row: span 1;
}
.feature-card-section {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.features-episodes{
  background: #1A0B2E;
  padding: 120px 0;
}
.feature-title {
  text-align: center;
  margin-bottom: 40px;
}
.feature-card {
  background: #250d44;
  border-radius: 25px;
  border: none;
  width: 380px;
  height: 440px;
}
.card-desc {
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  align-items: start;
}
.time {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.duration {
  color: #00ff88;
}
iframe {
  border-radius: 25px 25px 0 0;
  border: none;
  width: 100%;
  height: 210px;
}
.host-container {
  background: #1a0b2e;
  padding-bottom: 120px;
}
.host-title {
  text-align: center;
  margin-bottom: 40px;
}
.host-details {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  gap: 24px;
}
.host-name {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}
.about-host {
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: start;
}
.host-social {
  justify-content: flex-start;
  gap: 8px;
}
.circle-bg {
  border: 1px solid #533c72;
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.host-social img {
  width: 50%;
}
footer {
  width: 100%;
  background: url("assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-container {
  flex-direction: column;
  gap: 32px;
  padding: 120px 0;
}
.footer-social {
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  fl

}
.social-media {
  gap: 8px;
}
.line{
    width: 100%;
  }

/* Hover effect/Animation */

.menu li:hover {
  background: linear-gradient(135deg, #f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  border-radius: 25px 15px 25px 15px;
}
.btn:hover {
  background-size: 200% 200%;
  animation: move 5s ease infinite;
  transform: scale(1.01);
}
@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.diff-btn:hover {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 52%, #9100f8 100%);
  border: 1px solid transparent;
  box-sizing: border-box;
  background-size: 200% 200%;
  animation: move 5s ease infinite;
  transform: scale(1.01);
}
.diff-btn:hover img {
  filter: brightness(0) invert(1);
}
.feature-container:hover .feature-card {
  opacity: 0.5;
}
.feature-container .feature-card:hover {
  opacity: 1;
  transform: scale(1.05);
}
.feature-card {
  transition: transform 0.3s ease;
}
.host-details img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.circle-bg:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.card:hover{
  transform: scale(1.01);
  transition: transform 0.3s ease;
  background: #0d0518;
}
/* Responsive here */

/* (max-width: 576px)  */

@media screen and (max-width: 576px) {
  .brand-logo{
    font-size: 1.25rem;
  }
  .menu,
  .none {
    display: none;
  }
  nav{
  padding: 20px 0;
  }
 
  .hum{
    display: block;
  }
  .hum img{
    width: 100%;
  }
  .banner{
    background-position:left 30%;
    background-size: contain;
  }
  .banner-title{
    font-size: 2.5rem;
  }
  .micro{
    width: 200px;
    height: 200px;
  }
  .badge{
    top:4px;
    right:-1px;
  }
  .banner p{
    text-align: center;
  }
  .title{
    font-size: 2rem;
  }
  .stats{
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  }
 .stats-num{
    font-size: 2.5rem;
  }
  .sub-title{
    font-size: 1.375rem;
  }
  .feature-card-title{
    font-size: 1.25rem;
  }
  .feature-card{
   width: 100%;
  }
  
   .features-episodes{
   padding: 60px 0;
  }
  .card-desc{
    gap: 8px;
  }

  .feature-card-section{
    gap: 20px;
  }
  .card-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .bigcard, .smallcard, .widecard{
    grid-column: auto;
    grid-row: auto;
  }
  .host-container{
    padding: 40px 0;
  }
   .about-host{
    justify-content: center;
    align-items: center;
  }
   .host-details {
    flex-direction: column;
    text-align: center;
    padding: 24px;
  }
  .host-name {
    text-align: center;
  }
  .footer-container{
    padding: 40px 20px;
  }
  .copyright{
    text-align: center;
    white-space: inherit;
  }
  .footer-social{
    gap:25px;
  }
  .footer{
    background-size: 130% 100%;
    background-position: center;
  }
}
 /* (min-width:576px) and (max-width:768px) */

@media screen and (min-width:576px) and (max-width:768px) {
  .menu{
    display: none;
  }
  .banner-title{
    font-size: 3rem;
  }
    .micro{
    width: 200px;
    height: 200px;
  }
  
  .title{
    font-size: 2.25rem;
  }
  .sub-title{
    font-size: 1.375rem;
  }
  .stats{
    justify-content: center;
  }
   .card-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
  }
  .bigcard, .widecard{
    grid-column: span 1;
    grid-row: auto;
  }
  .smallcard{
    grid-column: span 2;
    grid-row: auto;
  }
 .feature-card-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  }
  .feature-card{
    width: 100%;
  }
  .feature-card-3{
    grid-column: span 2;
    width: 50%;
    justify-self:center;
  }
  .host-details{
    padding: 25px;
  }
  .footer-container h2{
    font-size: 2.5rem;
  }
  .hum{
    display: block;
    order: -1;
  }
  .brand-logo{
    order: 1;
    margin-left: 85px;
  }
  .btn{
    order:2;
  }
}

/* (min-width:768px) and (max-width:992px) */

@media screen and (min-width:768px) and (max-width:992px){
  .micro{
    width: 250px;
    height: 250px;
  }
  .badge{
    top:4px;
    right:-1px;
  }
  .stats{
    justify-content: center;
  }
    .card-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
  }

  .bigcard, .widecard{
    grid-column: span 1;
    grid-row: auto;
  }
  .smallcard{
    grid-column: span 2;
    width: 50%;
    justify-self: center;
  }
  .feature-card-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  }
  .feature-card{
    width: 100%;
  }
  .feature-card-3{
    grid-column: span 2;
    width: 50%;
    justify-self:center;
  }
}
